 <!-- Start of Filter -->
 <div class="d-flex mx-5 px-5">
  <mat-form-field appearance="standard" class ="search-form-field" floatLabel="never">
    <mat-label>Filter</mat-label>
    <input matInput [(ngModel)]="searchTask" placeholder="Enter a Task to search">
  </mat-form-field>
</div>
<!-- End of Filter -->
  
  <!-- Start of Interface -->
  <div class="mat-elevation-z3 table-task">

    <!-- Start of Upper Table -->
    <div class="d-flex bg-white boot-border">

      <!-- Add Task Button -->
      <button
        mat-icon-button
        matTooltip="Add Task"
        (click)="addDialog()"
        color="primary"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
      <h6>Add Task</h6>
      <span class="flex-spacer"></span>
      <!-- End of Add Task Button -->

      <!-- Start of Paginator -->
      <mat-paginator
        [length]="totalPosts"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
        [pageSize]="postsPerPage"
        (page)="onChangedPage($event)"
      ></mat-paginator>
      <!-- Start of Paginator -->

    </div>
    <!-- End of Upper Table -->

    <!-- Start of Table -->
    <table mat-table [dataSource]="dataSource | filter: searchTask">

      <!-- Task Name -->
      <ng-container matColumnDef="taskName">
        <th mat-header-cell *matHeaderCellDef>Task Name</th>
        <td mat-cell *matCellDef="let element">{{ element.taskName }}</td>
      </ng-container>
      <!-- End of Task Name -->

      <!-- Tags -->
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef>Tags</th>
        <td mat-cell *matCellDef="let element">{{ element.tags }}</td>
      </ng-container>
      <!-- End of Tags -->

      <!-- Task Description -->
      <ng-container matColumnDef="taskDescription">
        <th mat-header-cell *matHeaderCellDef>Task Description</th>
        <td mat-cell *matCellDef="let element">{{ element.taskDescription | shorten: 25}}</td>
      </ng-container>
      <!-- End of Task Description -->

      <!-- Status -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let row">

        <mat-icon
          *ngIf="row.status === 'New'"
          class="mat-icon-rtl-mirror"
          style="font-size: 25px !important; color: #21abcd"
          >error
        </mat-icon>

        <mat-icon
          *ngIf="row.status === 'Ongoing'"
          class="mat-icon-rtl-mirror"
          style="font-size: 25px !important; color: #ffcf07 "
          >pending
        </mat-icon>
        
        <mat-icon
          *ngIf="row.status === 'Completed'"
          class="mat-icon-rtl-mirror"
          style="font-size: 25px !important; color: lime"
          >check_circle
        </mat-icon>

        </td>
      </ng-container>
      <!-- End of Status -->

      <!-- Date Created -->
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef>Date Created</th>
        <td mat-cell *matCellDef="let element">{{ element.dateCreated | date }}</td>
      </ng-container>
      <!-- End of Date Created -->

      <!-- Date Modified -->
      <ng-container matColumnDef="dateModified">
        <th mat-header-cell *matHeaderCellDef>Date Modified</th>
        <td mat-cell *matCellDef="let element">{{ element.dateModified | date }}</td>
      </ng-container>
      <!-- End of Date Modified -->

      <!-- Date Completed -->
      <ng-container matColumnDef="dateCompleted">
        <th mat-header-cell *matHeaderCellDef>Date Completed</th>
        <td mat-cell *matCellDef="let element">{{ element.dateCompleted | date }}</td>
      </ng-container>
      <!-- End of Date Completed -->

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-raised-button color="primary" (click)="updateDialog()">Edit</button>
          <button mat-raised-button color="warn" (click)="deleteDialog()">Delete</button>
        </td>
      </ng-container>
      <!-- End Action Column -->

      <!-- Displays rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- End of table -->
  </div>

